.comment {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.comment + .comment {
  border-top: 1px solid rgb(233, 236, 239) !important;
}

.comment textarea {
  min-height: 60px;
  max-height: 60px;
}
