
.header {
  height: 4rem;
  background-color: aliceblue;
  
  
}

.header_wrap{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin:auto;
  align-items: center;
  padding-top: 10px;
}

